* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(224, 223, 222);
}

/* ------------------------------------------------------------- */
/* ------------------- Global Designs --------------------------- */
/* -------------------------------------------------------------- */
.green-text {
    color: #37d387f8;
}

.header-text {
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0;
}

.p-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(70, 69, 69);

}


.gap {
    height: 100px;
}
.blue-text{
    color: #17196a;
    font-weight: bold;
    padding: 2px;
}
.pink-text{
    color: #ca75ab;
    display: inline-block;
    font-weight: bold;
}
hr{
    border-top: 1px dotted silver ;
}

/* end  */


.portfolio-main-container {
    margin-top: 60px;
    width: 80%;
    margin-left: 10%;

}

.portfolio-header {
    padding: 30px 0;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(224, 223, 222);
    margin-bottom: 30px;
}

.h-left {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h-right {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.links {
    padding: 5px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    border: none;
    background-color: inherit;
    cursor: pointer;

}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
@media(max-width:768px){
    .hamburger{
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .links{
        color: white;
    }
    .h-right{
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .h-right.active{
        left: 0;
    }
    #logo{
        width: 80%;
        height: auto;
    }
    
}

/* ------------------------------------------------------------- */
/* ------------------- Home Page ------------------------------- */
/* -------------------------------------------------------------- */

.portfolio-card {
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 8px 10px 5px 0 rgb(206, 206, 206);
    opacity: 0;
    height: 0;
    transition: opacity .5s ease, height 0.1s ease;
}
@media screen and (max-width:1000px) {
    .portfolio-main-container{
        margin: 0;
        width: 100%;
    }
    .profile-img{
        height: 200px !important;
        left:10px !important;
    }
    .portfolio-header{
        padding: 10px;
    }
    .name{
         font-size: 35px !important;
    }
    .portfolio-card-bottom, .resume-container, .contact-container{
        flex-direction: column;
        padding: 15px;
    }
    .service-container{
        grid-template-columns: auto !important;
        justify-content: center;
    }
    .portfolio-header{
        padding-top: 10px !important;
        margin-bottom: 0 !important;
    }
    .resume-left, .resume-right, .bottom-left{
        width: 100% !important;
    }
    .name-area{
        margin: 0;
        margin-left: 0;
    }
    .portfolio-card-top{
        display: flex;
        justify-content: flex-end   ;
    }
    .h-left{
        font-size: 30px;
    }
}
@media screen and (max-width:1000px) {
    .title{
        font-size: 12px;
    }
    .profile-img{
        height: 180px !important;
    }
    .name-area{
        width: 50% !important;
    }

}

.portfolio-card.active-card{
    opacity: 1;
    height: auto;
}
.portfolio-card-top {
    background-image: url('card background.jpg');
    height: 300px;
}

.profile-img {
    position: absolute;
    height: 280px;
    top: 40px;
    left: 40px;
    border: 3px solid white;
    box-shadow: 3px 3px 5px 0 rgb(209, 209, 209);
}

.name {
    margin-top: 70px;
    font-size: 60px;
}

.name-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 60%;
    margin-left: 30%;

}

a {
    text-decoration: none;
}

.social-links {
    margin-top: 10px;
}

#s-logo {
    height: 25px;
    width: 25px;
    margin-top: 8px;
}

.title {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    color: #000;
}

.portfolio-card-bottom {
    display: flex;
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
}

.bottom-left {
    width: 50%;
    padding-right: 5px;
}

.down-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(199, 198, 196);
    box-shadow: 3px 2px 5PX 0 rgb(228, 226, 226);
}

.down-btn:hover {
    background-color: rgb(218, 215, 215);
}

td {
    min-width: 90px;
    height: 25px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bottom-right {
    margin-left: 10px;
}

.t2 {
    color: rgb(168, 164, 164);
}



.div-header {
    background: url('card background.jpg');
    height: 90px;
    font-size: 65px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* ----------------------------------------------------------------- */
/* -----------------------Resume------------------------------------ */
/* ------------------------------------------------------------------ */
.resume-container {
    display: flex;
    padding: 50px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.resume-left{
    width: 55%;
    padding-right: 20px;
}

.resume-right{
    width: 40%;
    margin-left: 20px;
}
.resume-header-text{
    font-size: 24px;
    color: #17196a;
    font-weight: bold;
    border-bottom: 4px solid #000;
    width: 100%;
}
.tags-group{
    width: 100%;
    padding: 10px;
}
.tags{
    border: 1px solid silver;
    width: fit-content;
    padding: 3px;
    border-radius: 4px;
    display: inline-block;
    margin: 3px 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.project-details{
    margin-top: 5px;
}
.sub-header{
    font-size: 18px;
    width: 60%;
    margin-top: 15px;
}
.resume-date{
    opacity: .6;
}
ul{
    margin-top: 7px;
}
ul li{
    margin-left: 15px;
    font-size: 18px;
}
.mini-gap{
    height: 15px;
}


/* ----------------------------------------------------------------- */
/* -----------------------Contact------------------------------------ */
/* ------------------------------------------------------------------ */
.service-container{
    margin: 50px 0;
   
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.service-card{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 280px;
    align-items: center;
    font-size: 19px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

.service-text{
    opacity: .6;
}
.service-logo{
    width: 150px;
    height: 150px ;
    
    margin: 20px;
}
.header-text-s{
    font-size: 25px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 0;
}


/* ----------------------------------------------------------------- */
/* -----------------------Contact------------------------------------ */
/* ------------------------------------------------------------------ */
/* .contact {
    height: ;
} */

.contact-container {
    margin-top: 75px;
    width: 100%;
    display: flex;
}

.contact-left {
    width: 45%;
    margin-left: 5%;
}

.contact-left-table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-left-table td{
    min-width: 30px;
    padding: 10px 0;
}

.contact-left-table i {
    color: rgb(14, 187, 14);
}

input[type=text],
textarea {
    width: 400px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(145, 143, 143);
    outline: none;
    padding-left: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

}

.contact-input {
    position: relative;
    margin: 20px 0;
}

.contact-input i {
    position: absolute;
    top: 10px;
    left: 5px;
    opacity: 0.5;
}

#submit-btn {
    padding: 10px 20px;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.8;
}

#submit-btn:hover {
    opacity: 1;
    cursor: pointer;
}


/* ----------------------------------------------------------------- */
/* -----------------------Portfolio------------------------------------ */
/* ------------------------------------------------------------------ */


.project-container{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    gap: auto;
    row-gap: 30px;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.card-box{
    width: 290px;
    min-height: 440px;
    display: flex;
    border-radius: 20px;
    background: #000000;

}
.card-full{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px 0px #000;
}
.card-img{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
 
.card-content{
    padding: 8px;
    text-overflow: wrap;
}
.card-content h3{
    font-size: 21px;
    line-height: 34px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    margin-left: 15px;
    letter-spacing: 1.4px;
    font-family: sans-serif;
}
.card-content p{
    font-size: 15px;
    line-height: 19px;
    font-weight: 300;
    color: #fff;
    padding: 5px 0px 5px 15px;
    word-spacing: 2px;
    font-family: sans-serif;
}
.language-btn{
    width: 330px;
    height: 100px;
    margin-top: 8px;
    margin-left: 15px;
}
.language-col-2{
    margin-top: 12px;
}
.react,
.open-map,
.python,
.django,
.api,
.postgresql{
   
   
    padding: 2px 10px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    border: 1px solid lightseagreen;
}

.open-map{
    border: 1px solid rgb(138, 44, 75);
}
.python{
    border: 1px solid khaki;
}
.django{
    border: 1px solid rgb(89, 236, 89);
}
.api{
    border: 1px solid rgb(151, 151, 7);
}
.postgresql{
    border: 1px solid rgb(7, 22, 7);
}

.live-demo{
    padding-top: 15px;
}
 
.live-demo a{
    border-bottom: 2px solid rgb(151, 151, 7);
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    letter-spacing: 0.4px;
    word-spacing: 3px;
}
.live-demo a:hover{
border-bottom: none;
}
 
.col a{
    font-size: 14px;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (max-width:1000px){
    .project-container{
        grid-template-columns: auto auto;
        gap: auto;
    }

}
    
